<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runbom.demo.dao.BandFanlageMapper">
  <resultMap id="BaseResultMap" type="com.runbom.demo.model.BandFanlage">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DOCUMENTID" jdbcType="VARCHAR" property="documentid" />
    <result column="ISDEL" jdbcType="NUMERIC" property="isdel" />
    <result column="FANLAGE2" jdbcType="VARCHAR" property="fanlage2" />
    <result column="LINETYPE" jdbcType="CHAR" property="linetype" />
    <result column="LINECODE" jdbcType="VARCHAR" property="linecode" />
    <result column="BAND" jdbcType="VARCHAR" property="band" />
    <result column="CREATORID" jdbcType="VARCHAR" property="creatorid" />
    <result column="CREATORNAME" jdbcType="VARCHAR" property="creatorname" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODIFIERID" jdbcType="VARCHAR" property="modifierid" />
    <result column="MODIFIERNAME" jdbcType="VARCHAR" property="modifiername" />
    <result column="MODIFYTIME" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DOCUMENTID, ISDEL, FANLAGE2, LINETYPE, LINECODE, BAND, CREATORID, CREATORNAME, 
    CREATETIME, MODIFIERID, MODIFIERNAME, MODIFYTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PCC_BAND_FANLAGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PCC_BAND_FANLAGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.runbom.demo.model.BandFanlage">
    insert into PCC_BAND_FANLAGE (ID, DOCUMENTID, ISDEL, 
      FANLAGE2, LINETYPE, LINECODE, 
      BAND, CREATORID, CREATORNAME, 
      CREATETIME, MODIFIERID, MODIFIERNAME, 
      MODIFYTIME)
    values (#{id,jdbcType=VARCHAR}, #{documentid,jdbcType=VARCHAR}, #{isdel,jdbcType=NUMERIC}, 
      #{fanlage2,jdbcType=VARCHAR}, #{linetype,jdbcType=CHAR}, #{linecode,jdbcType=VARCHAR}, 
      #{band,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR}, #{creatorname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifierid,jdbcType=VARCHAR}, #{modifiername,jdbcType=VARCHAR}, 
      #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.runbom.demo.model.BandFanlage">
    insert into PCC_BAND_FANLAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="documentid != null">
        DOCUMENTID,
      </if>
      <if test="isdel != null">
        ISDEL,
      </if>
      <if test="fanlage2 != null">
        FANLAGE2,
      </if>
      <if test="linetype != null">
        LINETYPE,
      </if>
      <if test="linecode != null">
        LINECODE,
      </if>
      <if test="band != null">
        BAND,
      </if>
      <if test="creatorid != null">
        CREATORID,
      </if>
      <if test="creatorname != null">
        CREATORNAME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="modifierid != null">
        MODIFIERID,
      </if>
      <if test="modifiername != null">
        MODIFIERNAME,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="documentid != null">
        #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="fanlage2 != null">
        #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="linetype != null">
        #{linetype,jdbcType=CHAR},
      </if>
      <if test="linecode != null">
        #{linecode,jdbcType=VARCHAR},
      </if>
      <if test="band != null">
        #{band,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.runbom.demo.model.BandFanlage">
    update PCC_BAND_FANLAGE
    <set>
      <if test="documentid != null">
        DOCUMENTID = #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        ISDEL = #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="fanlage2 != null">
        FANLAGE2 = #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="linetype != null">
        LINETYPE = #{linetype,jdbcType=CHAR},
      </if>
      <if test="linecode != null">
        LINECODE = #{linecode,jdbcType=VARCHAR},
      </if>
      <if test="band != null">
        BAND = #{band,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        CREATORID = #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        CREATORNAME = #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        MODIFIERID = #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        MODIFIERNAME = #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.runbom.demo.model.BandFanlage">
    update PCC_BAND_FANLAGE
    set DOCUMENTID = #{documentid,jdbcType=VARCHAR},
      ISDEL = #{isdel,jdbcType=NUMERIC},
      FANLAGE2 = #{fanlage2,jdbcType=VARCHAR},
      LINETYPE = #{linetype,jdbcType=CHAR},
      LINECODE = #{linecode,jdbcType=VARCHAR},
      BAND = #{band,jdbcType=VARCHAR},
      CREATORID = #{creatorid,jdbcType=VARCHAR},
      CREATORNAME = #{creatorname,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      MODIFIERID = #{modifierid,jdbcType=VARCHAR},
      MODIFIERNAME = #{modifiername,jdbcType=VARCHAR},
      MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.runbom.demo.model.BandFanlage">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DOCUMENTID" jdbcType="VARCHAR" property="documentid" />
    <result column="ISDEL" jdbcType="NUMERIC" property="isdel" />
    <result column="FANLAGE2" jdbcType="VARCHAR" property="fanlage2" />
    <result column="LINETYPE" jdbcType="CHAR" property="linetype" />
    <result column="LINECODE" jdbcType="VARCHAR" property="linecode" />
    <result column="BAND" jdbcType="VARCHAR" property="band" />
    <result column="CREATORID" jdbcType="VARCHAR" property="creatorid" />
    <result column="CREATORNAME" jdbcType="VARCHAR" property="creatorname" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODIFIERID" jdbcType="VARCHAR" property="modifierid" />
    <result column="MODIFIERNAME" jdbcType="VARCHAR" property="modifiername" />
    <result column="MODIFYTIME" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DOCUMENTID, ISDEL, FANLAGE2, LINETYPE, LINECODE, BAND, CREATORID, CREATORNAME, 
    CREATETIME, MODIFIERID, MODIFIERNAME, MODIFYTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PCC_BAND_FANLAGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PCC_BAND_FANLAGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.runbom.demo.model.BandFanlage">
    insert into PCC_BAND_FANLAGE (ID, DOCUMENTID, ISDEL, 
      FANLAGE2, LINETYPE, LINECODE, 
      BAND, CREATORID, CREATORNAME, 
      CREATETIME, MODIFIERID, MODIFIERNAME, 
      MODIFYTIME)
    values (#{id,jdbcType=VARCHAR}, #{documentid,jdbcType=VARCHAR}, #{isdel,jdbcType=NUMERIC}, 
      #{fanlage2,jdbcType=VARCHAR}, #{linetype,jdbcType=CHAR}, #{linecode,jdbcType=VARCHAR}, 
      #{band,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR}, #{creatorname,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifierid,jdbcType=VARCHAR}, #{modifiername,jdbcType=VARCHAR}, 
      #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.runbom.demo.model.BandFanlage">
    insert into PCC_BAND_FANLAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="documentid != null">
        DOCUMENTID,
      </if>
      <if test="isdel != null">
        ISDEL,
      </if>
      <if test="fanlage2 != null">
        FANLAGE2,
      </if>
      <if test="linetype != null">
        LINETYPE,
      </if>
      <if test="linecode != null">
        LINECODE,
      </if>
      <if test="band != null">
        BAND,
      </if>
      <if test="creatorid != null">
        CREATORID,
      </if>
      <if test="creatorname != null">
        CREATORNAME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="modifierid != null">
        MODIFIERID,
      </if>
      <if test="modifiername != null">
        MODIFIERNAME,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="documentid != null">
        #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="fanlage2 != null">
        #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="linetype != null">
        #{linetype,jdbcType=CHAR},
      </if>
      <if test="linecode != null">
        #{linecode,jdbcType=VARCHAR},
      </if>
      <if test="band != null">
        #{band,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.runbom.demo.model.BandFanlage">
    update PCC_BAND_FANLAGE
    <set>
      <if test="documentid != null">
        DOCUMENTID = #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        ISDEL = #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="fanlage2 != null">
        FANLAGE2 = #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="linetype != null">
        LINETYPE = #{linetype,jdbcType=CHAR},
      </if>
      <if test="linecode != null">
        LINECODE = #{linecode,jdbcType=VARCHAR},
      </if>
      <if test="band != null">
        BAND = #{band,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        CREATORID = #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        CREATORNAME = #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        MODIFIERID = #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        MODIFIERNAME = #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.runbom.demo.model.BandFanlage">
    update PCC_BAND_FANLAGE
    set DOCUMENTID = #{documentid,jdbcType=VARCHAR},
      ISDEL = #{isdel,jdbcType=NUMERIC},
      FANLAGE2 = #{fanlage2,jdbcType=VARCHAR},
      LINETYPE = #{linetype,jdbcType=CHAR},
      LINECODE = #{linecode,jdbcType=VARCHAR},
      BAND = #{band,jdbcType=VARCHAR},
      CREATORID = #{creatorid,jdbcType=VARCHAR},
      CREATORNAME = #{creatorname,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      MODIFIERID = #{modifierid,jdbcType=VARCHAR},
      MODIFIERNAME = #{modifiername,jdbcType=VARCHAR},
      MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>