<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runbom.demo.dao.NdemandMapper">
  <resultMap id="BaseResultMap" type="com.runbom.demo.model.Ndemand">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DOCUMENTID" jdbcType="VARCHAR" property="documentid" />
    <result column="ISDEL" jdbcType="NUMERIC" property="isdel" />
    <result column="EXECID" jdbcType="VARCHAR" property="execid" />
    <result column="RFID" jdbcType="VARCHAR" property="rfid" />
    <result column="BAND" jdbcType="VARCHAR" property="band" />
    <result column="WERKS" jdbcType="VARCHAR" property="werks" />
    <result column="SPJ" jdbcType="VARCHAR" property="spj" />
    <result column="KANR" jdbcType="VARCHAR" property="kanr" />
    <result column="NUMBER1" jdbcType="VARCHAR" property="number1" />
    <result column="FANLAGE2" jdbcType="VARCHAR" property="fanlage2" />
    <result column="CARTYPE" jdbcType="VARCHAR" property="cartype" />
    <result column="DELIVERY_SITE" jdbcType="VARCHAR" property="deliverySite" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="GWLJSL" jdbcType="NUMERIC" property="gwljsl" />
    <result column="GWQJ" jdbcType="VARCHAR" property="gwqj" />
    <result column="QJSL" jdbcType="NUMERIC" property="qjsl" />
    <result column="TP" jdbcType="VARCHAR" property="tp" />
    <result column="TPSL" jdbcType="NUMERIC" property="tpsl" />
    <result column="LJSL" jdbcType="NUMERIC" property="ljsl" />
    <result column="BZSL" jdbcType="NUMERIC" property="bzsl" />
    <result column="QUANTITY" jdbcType="NUMERIC" property="quantity" />
    <result column="CCID" jdbcType="VARCHAR" property="ccid" />
    <result column="LJID" jdbcType="VARCHAR" property="ljid" />
    <result column="XHDID" jdbcType="VARCHAR" property="xhdid" />
    <result column="LJGWID" jdbcType="VARCHAR" property="ljgwid" />
    <result column="STATUS" jdbcType="NUMERIC" property="status" />
    <result column="CREATORID" jdbcType="VARCHAR" property="creatorid" />
    <result column="CREATORNAME" jdbcType="VARCHAR" property="creatorname" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODIFIERID" jdbcType="VARCHAR" property="modifierid" />
    <result column="MODIFIERNAME" jdbcType="VARCHAR" property="modifiername" />
    <result column="MODIFYTIME" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="ZPTYPE" jdbcType="CHAR" property="zptype" />
    <result column="XZPRIORITY" jdbcType="NUMERIC" property="xzpriority" />
    <result column="TBLJSL" jdbcType="NUMERIC" property="tbljsl" />
    <result column="SERIALNUM" jdbcType="NUMERIC" property="serialnum" />
    <result column="SERIALNUMMOVE" jdbcType="NUMERIC" property="serialnummove" />
    <result column="SERIALNUMOLD" jdbcType="NUMERIC" property="serialnumold" />
    <result column="YHTYPE" jdbcType="VARCHAR" property="yhtype" />
    <result column="HK" jdbcType="VARCHAR" property="hk" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DOCUMENTID, ISDEL, EXECID, RFID, BAND, WERKS, SPJ, KANR, NUMBER1, FANLAGE2, CARTYPE, 
    DELIVERY_SITE, PATH, SITE, GWLJSL, GWQJ, QJSL, TP, TPSL, LJSL, BZSL, QUANTITY, CCID, 
    LJID, XHDID, LJGWID, STATUS, CREATORID, CREATORNAME, CREATETIME, MODIFIERID, MODIFIERNAME, 
    MODIFYTIME, ZPTYPE, XZPRIORITY, TBLJSL, SERIALNUM, SERIALNUMMOVE, SERIALNUMOLD, YHTYPE, 
    HK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PCC_N_DEMAND
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PCC_N_DEMAND
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.runbom.demo.model.Ndemand">
    insert into PCC_N_DEMAND (ID, DOCUMENTID, ISDEL, 
      EXECID, RFID, BAND, 
      WERKS, SPJ, KANR, NUMBER1, 
      FANLAGE2, CARTYPE, DELIVERY_SITE, 
      PATH, SITE, GWLJSL, 
      GWQJ, QJSL, TP, TPSL, 
      LJSL, BZSL, QUANTITY, 
      CCID, LJID, XHDID, 
      LJGWID, STATUS, CREATORID, 
      CREATORNAME, CREATETIME, MODIFIERID, 
      MODIFIERNAME, MODIFYTIME, ZPTYPE, 
      XZPRIORITY, TBLJSL, SERIALNUM, 
      SERIALNUMMOVE, SERIALNUMOLD, YHTYPE, 
      HK)
    values (#{id,jdbcType=VARCHAR}, #{documentid,jdbcType=VARCHAR}, #{isdel,jdbcType=NUMERIC}, 
      #{execid,jdbcType=VARCHAR}, #{rfid,jdbcType=VARCHAR}, #{band,jdbcType=VARCHAR}, 
      #{werks,jdbcType=VARCHAR}, #{spj,jdbcType=VARCHAR}, #{kanr,jdbcType=VARCHAR}, #{number1,jdbcType=VARCHAR}, 
      #{fanlage2,jdbcType=VARCHAR}, #{cartype,jdbcType=VARCHAR}, #{deliverySite,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, #{gwljsl,jdbcType=NUMERIC}, 
      #{gwqj,jdbcType=VARCHAR}, #{qjsl,jdbcType=NUMERIC}, #{tp,jdbcType=VARCHAR}, #{tpsl,jdbcType=NUMERIC}, 
      #{ljsl,jdbcType=NUMERIC}, #{bzsl,jdbcType=NUMERIC}, #{quantity,jdbcType=NUMERIC}, 
      #{ccid,jdbcType=VARCHAR}, #{ljid,jdbcType=VARCHAR}, #{xhdid,jdbcType=VARCHAR}, 
      #{ljgwid,jdbcType=VARCHAR}, #{status,jdbcType=NUMERIC}, #{creatorid,jdbcType=VARCHAR}, 
      #{creatorname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{modifierid,jdbcType=VARCHAR}, 
      #{modifiername,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, #{zptype,jdbcType=CHAR}, 
      #{xzpriority,jdbcType=NUMERIC}, #{tbljsl,jdbcType=NUMERIC}, #{serialnum,jdbcType=NUMERIC}, 
      #{serialnummove,jdbcType=NUMERIC}, #{serialnumold,jdbcType=NUMERIC}, #{yhtype,jdbcType=VARCHAR}, 
      #{hk,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.runbom.demo.model.Ndemand">
    insert into PCC_N_DEMAND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="documentid != null">
        DOCUMENTID,
      </if>
      <if test="isdel != null">
        ISDEL,
      </if>
      <if test="execid != null">
        EXECID,
      </if>
      <if test="rfid != null">
        RFID,
      </if>
      <if test="band != null">
        BAND,
      </if>
      <if test="werks != null">
        WERKS,
      </if>
      <if test="spj != null">
        SPJ,
      </if>
      <if test="kanr != null">
        KANR,
      </if>
      <if test="number1 != null">
        NUMBER1,
      </if>
      <if test="fanlage2 != null">
        FANLAGE2,
      </if>
      <if test="cartype != null">
        CARTYPE,
      </if>
      <if test="deliverySite != null">
        DELIVERY_SITE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="site != null">
        SITE,
      </if>
      <if test="gwljsl != null">
        GWLJSL,
      </if>
      <if test="gwqj != null">
        GWQJ,
      </if>
      <if test="qjsl != null">
        QJSL,
      </if>
      <if test="tp != null">
        TP,
      </if>
      <if test="tpsl != null">
        TPSL,
      </if>
      <if test="ljsl != null">
        LJSL,
      </if>
      <if test="bzsl != null">
        BZSL,
      </if>
      <if test="quantity != null">
        QUANTITY,
      </if>
      <if test="ccid != null">
        CCID,
      </if>
      <if test="ljid != null">
        LJID,
      </if>
      <if test="xhdid != null">
        XHDID,
      </if>
      <if test="ljgwid != null">
        LJGWID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creatorid != null">
        CREATORID,
      </if>
      <if test="creatorname != null">
        CREATORNAME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="modifierid != null">
        MODIFIERID,
      </if>
      <if test="modifiername != null">
        MODIFIERNAME,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
      <if test="zptype != null">
        ZPTYPE,
      </if>
      <if test="xzpriority != null">
        XZPRIORITY,
      </if>
      <if test="tbljsl != null">
        TBLJSL,
      </if>
      <if test="serialnum != null">
        SERIALNUM,
      </if>
      <if test="serialnummove != null">
        SERIALNUMMOVE,
      </if>
      <if test="serialnumold != null">
        SERIALNUMOLD,
      </if>
      <if test="yhtype != null">
        YHTYPE,
      </if>
      <if test="hk != null">
        HK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="documentid != null">
        #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="execid != null">
        #{execid,jdbcType=VARCHAR},
      </if>
      <if test="rfid != null">
        #{rfid,jdbcType=VARCHAR},
      </if>
      <if test="band != null">
        #{band,jdbcType=VARCHAR},
      </if>
      <if test="werks != null">
        #{werks,jdbcType=VARCHAR},
      </if>
      <if test="spj != null">
        #{spj,jdbcType=VARCHAR},
      </if>
      <if test="kanr != null">
        #{kanr,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        #{number1,jdbcType=VARCHAR},
      </if>
      <if test="fanlage2 != null">
        #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null">
        #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="deliverySite != null">
        #{deliverySite,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="gwljsl != null">
        #{gwljsl,jdbcType=NUMERIC},
      </if>
      <if test="gwqj != null">
        #{gwqj,jdbcType=VARCHAR},
      </if>
      <if test="qjsl != null">
        #{qjsl,jdbcType=NUMERIC},
      </if>
      <if test="tp != null">
        #{tp,jdbcType=VARCHAR},
      </if>
      <if test="tpsl != null">
        #{tpsl,jdbcType=NUMERIC},
      </if>
      <if test="ljsl != null">
        #{ljsl,jdbcType=NUMERIC},
      </if>
      <if test="bzsl != null">
        #{bzsl,jdbcType=NUMERIC},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=NUMERIC},
      </if>
      <if test="ccid != null">
        #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="ljid != null">
        #{ljid,jdbcType=VARCHAR},
      </if>
      <if test="xhdid != null">
        #{xhdid,jdbcType=VARCHAR},
      </if>
      <if test="ljgwid != null">
        #{ljgwid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NUMERIC},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="zptype != null">
        #{zptype,jdbcType=CHAR},
      </if>
      <if test="xzpriority != null">
        #{xzpriority,jdbcType=NUMERIC},
      </if>
      <if test="tbljsl != null">
        #{tbljsl,jdbcType=NUMERIC},
      </if>
      <if test="serialnum != null">
        #{serialnum,jdbcType=NUMERIC},
      </if>
      <if test="serialnummove != null">
        #{serialnummove,jdbcType=NUMERIC},
      </if>
      <if test="serialnumold != null">
        #{serialnumold,jdbcType=NUMERIC},
      </if>
      <if test="yhtype != null">
        #{yhtype,jdbcType=VARCHAR},
      </if>
      <if test="hk != null">
        #{hk,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.runbom.demo.model.Ndemand">
    update PCC_N_DEMAND
    <set>
      <if test="documentid != null">
        DOCUMENTID = #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        ISDEL = #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="execid != null">
        EXECID = #{execid,jdbcType=VARCHAR},
      </if>
      <if test="rfid != null">
        RFID = #{rfid,jdbcType=VARCHAR},
      </if>
      <if test="band != null">
        BAND = #{band,jdbcType=VARCHAR},
      </if>
      <if test="werks != null">
        WERKS = #{werks,jdbcType=VARCHAR},
      </if>
      <if test="spj != null">
        SPJ = #{spj,jdbcType=VARCHAR},
      </if>
      <if test="kanr != null">
        KANR = #{kanr,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        NUMBER1 = #{number1,jdbcType=VARCHAR},
      </if>
      <if test="fanlage2 != null">
        FANLAGE2 = #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null">
        CARTYPE = #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="deliverySite != null">
        DELIVERY_SITE = #{deliverySite,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        SITE = #{site,jdbcType=VARCHAR},
      </if>
      <if test="gwljsl != null">
        GWLJSL = #{gwljsl,jdbcType=NUMERIC},
      </if>
      <if test="gwqj != null">
        GWQJ = #{gwqj,jdbcType=VARCHAR},
      </if>
      <if test="qjsl != null">
        QJSL = #{qjsl,jdbcType=NUMERIC},
      </if>
      <if test="tp != null">
        TP = #{tp,jdbcType=VARCHAR},
      </if>
      <if test="tpsl != null">
        TPSL = #{tpsl,jdbcType=NUMERIC},
      </if>
      <if test="ljsl != null">
        LJSL = #{ljsl,jdbcType=NUMERIC},
      </if>
      <if test="bzsl != null">
        BZSL = #{bzsl,jdbcType=NUMERIC},
      </if>
      <if test="quantity != null">
        QUANTITY = #{quantity,jdbcType=NUMERIC},
      </if>
      <if test="ccid != null">
        CCID = #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="ljid != null">
        LJID = #{ljid,jdbcType=VARCHAR},
      </if>
      <if test="xhdid != null">
        XHDID = #{xhdid,jdbcType=VARCHAR},
      </if>
      <if test="ljgwid != null">
        LJGWID = #{ljgwid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=NUMERIC},
      </if>
      <if test="creatorid != null">
        CREATORID = #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        CREATORNAME = #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        MODIFIERID = #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        MODIFIERNAME = #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="zptype != null">
        ZPTYPE = #{zptype,jdbcType=CHAR},
      </if>
      <if test="xzpriority != null">
        XZPRIORITY = #{xzpriority,jdbcType=NUMERIC},
      </if>
      <if test="tbljsl != null">
        TBLJSL = #{tbljsl,jdbcType=NUMERIC},
      </if>
      <if test="serialnum != null">
        SERIALNUM = #{serialnum,jdbcType=NUMERIC},
      </if>
      <if test="serialnummove != null">
        SERIALNUMMOVE = #{serialnummove,jdbcType=NUMERIC},
      </if>
      <if test="serialnumold != null">
        SERIALNUMOLD = #{serialnumold,jdbcType=NUMERIC},
      </if>
      <if test="yhtype != null">
        YHTYPE = #{yhtype,jdbcType=VARCHAR},
      </if>
      <if test="hk != null">
        HK = #{hk,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.runbom.demo.model.Ndemand">
    update PCC_N_DEMAND
    set DOCUMENTID = #{documentid,jdbcType=VARCHAR},
      ISDEL = #{isdel,jdbcType=NUMERIC},
      EXECID = #{execid,jdbcType=VARCHAR},
      RFID = #{rfid,jdbcType=VARCHAR},
      BAND = #{band,jdbcType=VARCHAR},
      WERKS = #{werks,jdbcType=VARCHAR},
      SPJ = #{spj,jdbcType=VARCHAR},
      KANR = #{kanr,jdbcType=VARCHAR},
      NUMBER1 = #{number1,jdbcType=VARCHAR},
      FANLAGE2 = #{fanlage2,jdbcType=VARCHAR},
      CARTYPE = #{cartype,jdbcType=VARCHAR},
      DELIVERY_SITE = #{deliverySite,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      SITE = #{site,jdbcType=VARCHAR},
      GWLJSL = #{gwljsl,jdbcType=NUMERIC},
      GWQJ = #{gwqj,jdbcType=VARCHAR},
      QJSL = #{qjsl,jdbcType=NUMERIC},
      TP = #{tp,jdbcType=VARCHAR},
      TPSL = #{tpsl,jdbcType=NUMERIC},
      LJSL = #{ljsl,jdbcType=NUMERIC},
      BZSL = #{bzsl,jdbcType=NUMERIC},
      QUANTITY = #{quantity,jdbcType=NUMERIC},
      CCID = #{ccid,jdbcType=VARCHAR},
      LJID = #{ljid,jdbcType=VARCHAR},
      XHDID = #{xhdid,jdbcType=VARCHAR},
      LJGWID = #{ljgwid,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=NUMERIC},
      CREATORID = #{creatorid,jdbcType=VARCHAR},
      CREATORNAME = #{creatorname,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      MODIFIERID = #{modifierid,jdbcType=VARCHAR},
      MODIFIERNAME = #{modifiername,jdbcType=VARCHAR},
      MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      ZPTYPE = #{zptype,jdbcType=CHAR},
      XZPRIORITY = #{xzpriority,jdbcType=NUMERIC},
      TBLJSL = #{tbljsl,jdbcType=NUMERIC},
      SERIALNUM = #{serialnum,jdbcType=NUMERIC},
      SERIALNUMMOVE = #{serialnummove,jdbcType=NUMERIC},
      SERIALNUMOLD = #{serialnumold,jdbcType=NUMERIC},
      YHTYPE = #{yhtype,jdbcType=VARCHAR},
      HK = #{hk,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.runbom.demo.model.Ndemand">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DOCUMENTID" jdbcType="VARCHAR" property="documentid" />
    <result column="ISDEL" jdbcType="NUMERIC" property="isdel" />
    <result column="EXECID" jdbcType="VARCHAR" property="execid" />
    <result column="RFID" jdbcType="VARCHAR" property="rfid" />
    <result column="BAND" jdbcType="VARCHAR" property="band" />
    <result column="WERKS" jdbcType="VARCHAR" property="werks" />
    <result column="SPJ" jdbcType="VARCHAR" property="spj" />
    <result column="KANR" jdbcType="VARCHAR" property="kanr" />
    <result column="NUMBER1" jdbcType="VARCHAR" property="number1" />
    <result column="FANLAGE2" jdbcType="VARCHAR" property="fanlage2" />
    <result column="CARTYPE" jdbcType="VARCHAR" property="cartype" />
    <result column="DELIVERY_SITE" jdbcType="VARCHAR" property="deliverySite" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="GWLJSL" jdbcType="NUMERIC" property="gwljsl" />
    <result column="GWQJ" jdbcType="VARCHAR" property="gwqj" />
    <result column="QJSL" jdbcType="NUMERIC" property="qjsl" />
    <result column="TP" jdbcType="VARCHAR" property="tp" />
    <result column="TPSL" jdbcType="NUMERIC" property="tpsl" />
    <result column="LJSL" jdbcType="NUMERIC" property="ljsl" />
    <result column="BZSL" jdbcType="NUMERIC" property="bzsl" />
    <result column="QUANTITY" jdbcType="NUMERIC" property="quantity" />
    <result column="CCID" jdbcType="VARCHAR" property="ccid" />
    <result column="LJID" jdbcType="VARCHAR" property="ljid" />
    <result column="XHDID" jdbcType="VARCHAR" property="xhdid" />
    <result column="LJGWID" jdbcType="VARCHAR" property="ljgwid" />
    <result column="STATUS" jdbcType="NUMERIC" property="status" />
    <result column="CREATORID" jdbcType="VARCHAR" property="creatorid" />
    <result column="CREATORNAME" jdbcType="VARCHAR" property="creatorname" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODIFIERID" jdbcType="VARCHAR" property="modifierid" />
    <result column="MODIFIERNAME" jdbcType="VARCHAR" property="modifiername" />
    <result column="MODIFYTIME" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="ZPTYPE" jdbcType="CHAR" property="zptype" />
    <result column="XZPRIORITY" jdbcType="NUMERIC" property="xzpriority" />
    <result column="TBLJSL" jdbcType="NUMERIC" property="tbljsl" />
    <result column="SERIALNUM" jdbcType="NUMERIC" property="serialnum" />
    <result column="SERIALNUMMOVE" jdbcType="NUMERIC" property="serialnummove" />
    <result column="SERIALNUMOLD" jdbcType="NUMERIC" property="serialnumold" />
    <result column="YHTYPE" jdbcType="VARCHAR" property="yhtype" />
    <result column="HK" jdbcType="VARCHAR" property="hk" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DOCUMENTID, ISDEL, EXECID, RFID, BAND, WERKS, SPJ, KANR, NUMBER1, FANLAGE2, CARTYPE, 
    DELIVERY_SITE, PATH, SITE, GWLJSL, GWQJ, QJSL, TP, TPSL, LJSL, BZSL, QUANTITY, CCID, 
    LJID, XHDID, LJGWID, STATUS, CREATORID, CREATORNAME, CREATETIME, MODIFIERID, MODIFIERNAME, 
    MODIFYTIME, ZPTYPE, XZPRIORITY, TBLJSL, SERIALNUM, SERIALNUMMOVE, SERIALNUMOLD, YHTYPE, 
    HK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PCC_N_DEMAND
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from PCC_N_DEMAND
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.runbom.demo.model.Ndemand">
    insert into PCC_N_DEMAND (ID, DOCUMENTID, ISDEL, 
      EXECID, RFID, BAND, 
      WERKS, SPJ, KANR, NUMBER1, 
      FANLAGE2, CARTYPE, DELIVERY_SITE, 
      PATH, SITE, GWLJSL, 
      GWQJ, QJSL, TP, TPSL, 
      LJSL, BZSL, QUANTITY, 
      CCID, LJID, XHDID, 
      LJGWID, STATUS, CREATORID, 
      CREATORNAME, CREATETIME, MODIFIERID, 
      MODIFIERNAME, MODIFYTIME, ZPTYPE, 
      XZPRIORITY, TBLJSL, SERIALNUM, 
      SERIALNUMMOVE, SERIALNUMOLD, YHTYPE, 
      HK)
    values (#{id,jdbcType=VARCHAR}, #{documentid,jdbcType=VARCHAR}, #{isdel,jdbcType=NUMERIC}, 
      #{execid,jdbcType=VARCHAR}, #{rfid,jdbcType=VARCHAR}, #{band,jdbcType=VARCHAR}, 
      #{werks,jdbcType=VARCHAR}, #{spj,jdbcType=VARCHAR}, #{kanr,jdbcType=VARCHAR}, #{number1,jdbcType=VARCHAR}, 
      #{fanlage2,jdbcType=VARCHAR}, #{cartype,jdbcType=VARCHAR}, #{deliverySite,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, #{gwljsl,jdbcType=NUMERIC}, 
      #{gwqj,jdbcType=VARCHAR}, #{qjsl,jdbcType=NUMERIC}, #{tp,jdbcType=VARCHAR}, #{tpsl,jdbcType=NUMERIC}, 
      #{ljsl,jdbcType=NUMERIC}, #{bzsl,jdbcType=NUMERIC}, #{quantity,jdbcType=NUMERIC}, 
      #{ccid,jdbcType=VARCHAR}, #{ljid,jdbcType=VARCHAR}, #{xhdid,jdbcType=VARCHAR}, 
      #{ljgwid,jdbcType=VARCHAR}, #{status,jdbcType=NUMERIC}, #{creatorid,jdbcType=VARCHAR}, 
      #{creatorname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{modifierid,jdbcType=VARCHAR}, 
      #{modifiername,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, #{zptype,jdbcType=CHAR}, 
      #{xzpriority,jdbcType=NUMERIC}, #{tbljsl,jdbcType=NUMERIC}, #{serialnum,jdbcType=NUMERIC}, 
      #{serialnummove,jdbcType=NUMERIC}, #{serialnumold,jdbcType=NUMERIC}, #{yhtype,jdbcType=VARCHAR}, 
      #{hk,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.runbom.demo.model.Ndemand">
    insert into PCC_N_DEMAND
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="documentid != null">
        DOCUMENTID,
      </if>
      <if test="isdel != null">
        ISDEL,
      </if>
      <if test="execid != null">
        EXECID,
      </if>
      <if test="rfid != null">
        RFID,
      </if>
      <if test="band != null">
        BAND,
      </if>
      <if test="werks != null">
        WERKS,
      </if>
      <if test="spj != null">
        SPJ,
      </if>
      <if test="kanr != null">
        KANR,
      </if>
      <if test="number1 != null">
        NUMBER1,
      </if>
      <if test="fanlage2 != null">
        FANLAGE2,
      </if>
      <if test="cartype != null">
        CARTYPE,
      </if>
      <if test="deliverySite != null">
        DELIVERY_SITE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="site != null">
        SITE,
      </if>
      <if test="gwljsl != null">
        GWLJSL,
      </if>
      <if test="gwqj != null">
        GWQJ,
      </if>
      <if test="qjsl != null">
        QJSL,
      </if>
      <if test="tp != null">
        TP,
      </if>
      <if test="tpsl != null">
        TPSL,
      </if>
      <if test="ljsl != null">
        LJSL,
      </if>
      <if test="bzsl != null">
        BZSL,
      </if>
      <if test="quantity != null">
        QUANTITY,
      </if>
      <if test="ccid != null">
        CCID,
      </if>
      <if test="ljid != null">
        LJID,
      </if>
      <if test="xhdid != null">
        XHDID,
      </if>
      <if test="ljgwid != null">
        LJGWID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creatorid != null">
        CREATORID,
      </if>
      <if test="creatorname != null">
        CREATORNAME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="modifierid != null">
        MODIFIERID,
      </if>
      <if test="modifiername != null">
        MODIFIERNAME,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
      <if test="zptype != null">
        ZPTYPE,
      </if>
      <if test="xzpriority != null">
        XZPRIORITY,
      </if>
      <if test="tbljsl != null">
        TBLJSL,
      </if>
      <if test="serialnum != null">
        SERIALNUM,
      </if>
      <if test="serialnummove != null">
        SERIALNUMMOVE,
      </if>
      <if test="serialnumold != null">
        SERIALNUMOLD,
      </if>
      <if test="yhtype != null">
        YHTYPE,
      </if>
      <if test="hk != null">
        HK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="documentid != null">
        #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="execid != null">
        #{execid,jdbcType=VARCHAR},
      </if>
      <if test="rfid != null">
        #{rfid,jdbcType=VARCHAR},
      </if>
      <if test="band != null">
        #{band,jdbcType=VARCHAR},
      </if>
      <if test="werks != null">
        #{werks,jdbcType=VARCHAR},
      </if>
      <if test="spj != null">
        #{spj,jdbcType=VARCHAR},
      </if>
      <if test="kanr != null">
        #{kanr,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        #{number1,jdbcType=VARCHAR},
      </if>
      <if test="fanlage2 != null">
        #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null">
        #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="deliverySite != null">
        #{deliverySite,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="gwljsl != null">
        #{gwljsl,jdbcType=NUMERIC},
      </if>
      <if test="gwqj != null">
        #{gwqj,jdbcType=VARCHAR},
      </if>
      <if test="qjsl != null">
        #{qjsl,jdbcType=NUMERIC},
      </if>
      <if test="tp != null">
        #{tp,jdbcType=VARCHAR},
      </if>
      <if test="tpsl != null">
        #{tpsl,jdbcType=NUMERIC},
      </if>
      <if test="ljsl != null">
        #{ljsl,jdbcType=NUMERIC},
      </if>
      <if test="bzsl != null">
        #{bzsl,jdbcType=NUMERIC},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=NUMERIC},
      </if>
      <if test="ccid != null">
        #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="ljid != null">
        #{ljid,jdbcType=VARCHAR},
      </if>
      <if test="xhdid != null">
        #{xhdid,jdbcType=VARCHAR},
      </if>
      <if test="ljgwid != null">
        #{ljgwid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=NUMERIC},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="zptype != null">
        #{zptype,jdbcType=CHAR},
      </if>
      <if test="xzpriority != null">
        #{xzpriority,jdbcType=NUMERIC},
      </if>
      <if test="tbljsl != null">
        #{tbljsl,jdbcType=NUMERIC},
      </if>
      <if test="serialnum != null">
        #{serialnum,jdbcType=NUMERIC},
      </if>
      <if test="serialnummove != null">
        #{serialnummove,jdbcType=NUMERIC},
      </if>
      <if test="serialnumold != null">
        #{serialnumold,jdbcType=NUMERIC},
      </if>
      <if test="yhtype != null">
        #{yhtype,jdbcType=VARCHAR},
      </if>
      <if test="hk != null">
        #{hk,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.runbom.demo.model.Ndemand">
    update PCC_N_DEMAND
    <set>
      <if test="documentid != null">
        DOCUMENTID = #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        ISDEL = #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="execid != null">
        EXECID = #{execid,jdbcType=VARCHAR},
      </if>
      <if test="rfid != null">
        RFID = #{rfid,jdbcType=VARCHAR},
      </if>
      <if test="band != null">
        BAND = #{band,jdbcType=VARCHAR},
      </if>
      <if test="werks != null">
        WERKS = #{werks,jdbcType=VARCHAR},
      </if>
      <if test="spj != null">
        SPJ = #{spj,jdbcType=VARCHAR},
      </if>
      <if test="kanr != null">
        KANR = #{kanr,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        NUMBER1 = #{number1,jdbcType=VARCHAR},
      </if>
      <if test="fanlage2 != null">
        FANLAGE2 = #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null">
        CARTYPE = #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="deliverySite != null">
        DELIVERY_SITE = #{deliverySite,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        SITE = #{site,jdbcType=VARCHAR},
      </if>
      <if test="gwljsl != null">
        GWLJSL = #{gwljsl,jdbcType=NUMERIC},
      </if>
      <if test="gwqj != null">
        GWQJ = #{gwqj,jdbcType=VARCHAR},
      </if>
      <if test="qjsl != null">
        QJSL = #{qjsl,jdbcType=NUMERIC},
      </if>
      <if test="tp != null">
        TP = #{tp,jdbcType=VARCHAR},
      </if>
      <if test="tpsl != null">
        TPSL = #{tpsl,jdbcType=NUMERIC},
      </if>
      <if test="ljsl != null">
        LJSL = #{ljsl,jdbcType=NUMERIC},
      </if>
      <if test="bzsl != null">
        BZSL = #{bzsl,jdbcType=NUMERIC},
      </if>
      <if test="quantity != null">
        QUANTITY = #{quantity,jdbcType=NUMERIC},
      </if>
      <if test="ccid != null">
        CCID = #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="ljid != null">
        LJID = #{ljid,jdbcType=VARCHAR},
      </if>
      <if test="xhdid != null">
        XHDID = #{xhdid,jdbcType=VARCHAR},
      </if>
      <if test="ljgwid != null">
        LJGWID = #{ljgwid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=NUMERIC},
      </if>
      <if test="creatorid != null">
        CREATORID = #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        CREATORNAME = #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        MODIFIERID = #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        MODIFIERNAME = #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="zptype != null">
        ZPTYPE = #{zptype,jdbcType=CHAR},
      </if>
      <if test="xzpriority != null">
        XZPRIORITY = #{xzpriority,jdbcType=NUMERIC},
      </if>
      <if test="tbljsl != null">
        TBLJSL = #{tbljsl,jdbcType=NUMERIC},
      </if>
      <if test="serialnum != null">
        SERIALNUM = #{serialnum,jdbcType=NUMERIC},
      </if>
      <if test="serialnummove != null">
        SERIALNUMMOVE = #{serialnummove,jdbcType=NUMERIC},
      </if>
      <if test="serialnumold != null">
        SERIALNUMOLD = #{serialnumold,jdbcType=NUMERIC},
      </if>
      <if test="yhtype != null">
        YHTYPE = #{yhtype,jdbcType=VARCHAR},
      </if>
      <if test="hk != null">
        HK = #{hk,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.runbom.demo.model.Ndemand">
    update PCC_N_DEMAND
    set DOCUMENTID = #{documentid,jdbcType=VARCHAR},
      ISDEL = #{isdel,jdbcType=NUMERIC},
      EXECID = #{execid,jdbcType=VARCHAR},
      RFID = #{rfid,jdbcType=VARCHAR},
      BAND = #{band,jdbcType=VARCHAR},
      WERKS = #{werks,jdbcType=VARCHAR},
      SPJ = #{spj,jdbcType=VARCHAR},
      KANR = #{kanr,jdbcType=VARCHAR},
      NUMBER1 = #{number1,jdbcType=VARCHAR},
      FANLAGE2 = #{fanlage2,jdbcType=VARCHAR},
      CARTYPE = #{cartype,jdbcType=VARCHAR},
      DELIVERY_SITE = #{deliverySite,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      SITE = #{site,jdbcType=VARCHAR},
      GWLJSL = #{gwljsl,jdbcType=NUMERIC},
      GWQJ = #{gwqj,jdbcType=VARCHAR},
      QJSL = #{qjsl,jdbcType=NUMERIC},
      TP = #{tp,jdbcType=VARCHAR},
      TPSL = #{tpsl,jdbcType=NUMERIC},
      LJSL = #{ljsl,jdbcType=NUMERIC},
      BZSL = #{bzsl,jdbcType=NUMERIC},
      QUANTITY = #{quantity,jdbcType=NUMERIC},
      CCID = #{ccid,jdbcType=VARCHAR},
      LJID = #{ljid,jdbcType=VARCHAR},
      XHDID = #{xhdid,jdbcType=VARCHAR},
      LJGWID = #{ljgwid,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=NUMERIC},
      CREATORID = #{creatorid,jdbcType=VARCHAR},
      CREATORNAME = #{creatorname,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      MODIFIERID = #{modifierid,jdbcType=VARCHAR},
      MODIFIERNAME = #{modifiername,jdbcType=VARCHAR},
      MODIFYTIME = #{modifytime,jdbcType=TIMESTAMP},
      ZPTYPE = #{zptype,jdbcType=CHAR},
      XZPRIORITY = #{xzpriority,jdbcType=NUMERIC},
      TBLJSL = #{tbljsl,jdbcType=NUMERIC},
      SERIALNUM = #{serialnum,jdbcType=NUMERIC},
      SERIALNUMMOVE = #{serialnummove,jdbcType=NUMERIC},
      SERIALNUMOLD = #{serialnumold,jdbcType=NUMERIC},
      YHTYPE = #{yhtype,jdbcType=VARCHAR},
      HK = #{hk,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>