<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runbom.demo.dao.WcounterMapper">
  <resultMap id="BaseResultMap" type="com.runbom.demo.model.Wcounter">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DOCUMENTID" jdbcType="VARCHAR" property="documentid" />
    <result column="ISDEL" jdbcType="NUMERIC" property="isdel" />
    <result column="WERKS" jdbcType="VARCHAR" property="werks" />
    <result column="FANLAGE2" jdbcType="VARCHAR" property="fanlage2" />
    <result column="NUMBER1" jdbcType="VARCHAR" property="number1" />
    <result column="DELIVERY_SITE" jdbcType="VARCHAR" property="deliverySite" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="QUANTITY" jdbcType="NUMERIC" property="quantity" />
    <result column="FLAG" jdbcType="NUMERIC" property="flag" />
    <result column="STRPORT" jdbcType="VARCHAR" property="strport" />
    <result column="STRKNR" jdbcType="VARCHAR" property="strknr" />
    <result column="STRSPJ" jdbcType="VARCHAR" property="strspj" />
    <result column="NOWPORT" jdbcType="VARCHAR" property="nowport" />
    <result column="NOWKNR" jdbcType="VARCHAR" property="nowknr" />
    <result column="NOWSPJ" jdbcType="VARCHAR" property="nowspj" />
    <result column="CREATORID" jdbcType="VARCHAR" property="creatorid" />
    <result column="CREATORNAME" jdbcType="VARCHAR" property="creatorname" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODIFIERID" jdbcType="VARCHAR" property="modifierid" />
    <result column="MODIFIERNAME" jdbcType="VARCHAR" property="modifiername" />
    <result column="MODIFYTIME" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <insert id="insert" parameterType="com.runbom.demo.model.Wcounter">
    insert into PCC_W_COUNTER (ID, DOCUMENTID, ISDEL, 
      WERKS, FANLAGE2, NUMBER1, 
      DELIVERY_SITE, SITE, PATH, 
      QUANTITY, FLAG, STRPORT, 
      STRKNR, STRSPJ, NOWPORT, 
      NOWKNR, NOWSPJ, CREATORID, 
      CREATORNAME, CREATETIME, MODIFIERID, 
      MODIFIERNAME, MODIFYTIME, REMARKS
      )
    values (#{id,jdbcType=VARCHAR}, #{documentid,jdbcType=VARCHAR}, #{isdel,jdbcType=NUMERIC}, 
      #{werks,jdbcType=VARCHAR}, #{fanlage2,jdbcType=VARCHAR}, #{number1,jdbcType=VARCHAR}, 
      #{deliverySite,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=NUMERIC}, #{flag,jdbcType=NUMERIC}, #{strport,jdbcType=VARCHAR}, 
      #{strknr,jdbcType=VARCHAR}, #{strspj,jdbcType=VARCHAR}, #{nowport,jdbcType=VARCHAR}, 
      #{nowknr,jdbcType=VARCHAR}, #{nowspj,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR}, 
      #{creatorname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{modifierid,jdbcType=VARCHAR}, 
      #{modifiername,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.runbom.demo.model.Wcounter">
    insert into PCC_W_COUNTER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="documentid != null">
        DOCUMENTID,
      </if>
      <if test="isdel != null">
        ISDEL,
      </if>
      <if test="werks != null">
        WERKS,
      </if>
      <if test="fanlage2 != null">
        FANLAGE2,
      </if>
      <if test="number1 != null">
        NUMBER1,
      </if>
      <if test="deliverySite != null">
        DELIVERY_SITE,
      </if>
      <if test="site != null">
        SITE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="quantity != null">
        QUANTITY,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="strport != null">
        STRPORT,
      </if>
      <if test="strknr != null">
        STRKNR,
      </if>
      <if test="strspj != null">
        STRSPJ,
      </if>
      <if test="nowport != null">
        NOWPORT,
      </if>
      <if test="nowknr != null">
        NOWKNR,
      </if>
      <if test="nowspj != null">
        NOWSPJ,
      </if>
      <if test="creatorid != null">
        CREATORID,
      </if>
      <if test="creatorname != null">
        CREATORNAME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="modifierid != null">
        MODIFIERID,
      </if>
      <if test="modifiername != null">
        MODIFIERNAME,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="documentid != null">
        #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="werks != null">
        #{werks,jdbcType=VARCHAR},
      </if>
      <if test="fanlage2 != null">
        #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        #{number1,jdbcType=VARCHAR},
      </if>
      <if test="deliverySite != null">
        #{deliverySite,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=NUMERIC},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=NUMERIC},
      </if>
      <if test="strport != null">
        #{strport,jdbcType=VARCHAR},
      </if>
      <if test="strknr != null">
        #{strknr,jdbcType=VARCHAR},
      </if>
      <if test="strspj != null">
        #{strspj,jdbcType=VARCHAR},
      </if>
      <if test="nowport != null">
        #{nowport,jdbcType=VARCHAR},
      </if>
      <if test="nowknr != null">
        #{nowknr,jdbcType=VARCHAR},
      </if>
      <if test="nowspj != null">
        #{nowspj,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.runbom.demo.model.Wcounter">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DOCUMENTID" jdbcType="VARCHAR" property="documentid" />
    <result column="ISDEL" jdbcType="NUMERIC" property="isdel" />
    <result column="WERKS" jdbcType="VARCHAR" property="werks" />
    <result column="FANLAGE2" jdbcType="VARCHAR" property="fanlage2" />
    <result column="NUMBER1" jdbcType="VARCHAR" property="number1" />
    <result column="DELIVERY_SITE" jdbcType="VARCHAR" property="deliverySite" />
    <result column="SITE" jdbcType="VARCHAR" property="site" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="QUANTITY" jdbcType="NUMERIC" property="quantity" />
    <result column="FLAG" jdbcType="NUMERIC" property="flag" />
    <result column="STRPORT" jdbcType="VARCHAR" property="strport" />
    <result column="STRKNR" jdbcType="VARCHAR" property="strknr" />
    <result column="STRSPJ" jdbcType="VARCHAR" property="strspj" />
    <result column="NOWPORT" jdbcType="VARCHAR" property="nowport" />
    <result column="NOWKNR" jdbcType="VARCHAR" property="nowknr" />
    <result column="NOWSPJ" jdbcType="VARCHAR" property="nowspj" />
    <result column="CREATORID" jdbcType="VARCHAR" property="creatorid" />
    <result column="CREATORNAME" jdbcType="VARCHAR" property="creatorname" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="MODIFIERID" jdbcType="VARCHAR" property="modifierid" />
    <result column="MODIFIERNAME" jdbcType="VARCHAR" property="modifiername" />
    <result column="MODIFYTIME" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <insert id="insert" parameterType="com.runbom.demo.model.Wcounter">
    insert into PCC_W_COUNTER (ID, DOCUMENTID, ISDEL, 
      WERKS, FANLAGE2, NUMBER1, 
      DELIVERY_SITE, SITE, PATH, 
      QUANTITY, FLAG, STRPORT, 
      STRKNR, STRSPJ, NOWPORT, 
      NOWKNR, NOWSPJ, CREATORID, 
      CREATORNAME, CREATETIME, MODIFIERID, 
      MODIFIERNAME, MODIFYTIME, REMARKS
      )
    values (#{id,jdbcType=VARCHAR}, #{documentid,jdbcType=VARCHAR}, #{isdel,jdbcType=NUMERIC}, 
      #{werks,jdbcType=VARCHAR}, #{fanlage2,jdbcType=VARCHAR}, #{number1,jdbcType=VARCHAR}, 
      #{deliverySite,jdbcType=VARCHAR}, #{site,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=NUMERIC}, #{flag,jdbcType=NUMERIC}, #{strport,jdbcType=VARCHAR}, 
      #{strknr,jdbcType=VARCHAR}, #{strspj,jdbcType=VARCHAR}, #{nowport,jdbcType=VARCHAR}, 
      #{nowknr,jdbcType=VARCHAR}, #{nowspj,jdbcType=VARCHAR}, #{creatorid,jdbcType=VARCHAR}, 
      #{creatorname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{modifierid,jdbcType=VARCHAR}, 
      #{modifiername,jdbcType=VARCHAR}, #{modifytime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.runbom.demo.model.Wcounter">
    insert into PCC_W_COUNTER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="documentid != null">
        DOCUMENTID,
      </if>
      <if test="isdel != null">
        ISDEL,
      </if>
      <if test="werks != null">
        WERKS,
      </if>
      <if test="fanlage2 != null">
        FANLAGE2,
      </if>
      <if test="number1 != null">
        NUMBER1,
      </if>
      <if test="deliverySite != null">
        DELIVERY_SITE,
      </if>
      <if test="site != null">
        SITE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="quantity != null">
        QUANTITY,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="strport != null">
        STRPORT,
      </if>
      <if test="strknr != null">
        STRKNR,
      </if>
      <if test="strspj != null">
        STRSPJ,
      </if>
      <if test="nowport != null">
        NOWPORT,
      </if>
      <if test="nowknr != null">
        NOWKNR,
      </if>
      <if test="nowspj != null">
        NOWSPJ,
      </if>
      <if test="creatorid != null">
        CREATORID,
      </if>
      <if test="creatorname != null">
        CREATORNAME,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="modifierid != null">
        MODIFIERID,
      </if>
      <if test="modifiername != null">
        MODIFIERNAME,
      </if>
      <if test="modifytime != null">
        MODIFYTIME,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="documentid != null">
        #{documentid,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=NUMERIC},
      </if>
      <if test="werks != null">
        #{werks,jdbcType=VARCHAR},
      </if>
      <if test="fanlage2 != null">
        #{fanlage2,jdbcType=VARCHAR},
      </if>
      <if test="number1 != null">
        #{number1,jdbcType=VARCHAR},
      </if>
      <if test="deliverySite != null">
        #{deliverySite,jdbcType=VARCHAR},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=NUMERIC},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=NUMERIC},
      </if>
      <if test="strport != null">
        #{strport,jdbcType=VARCHAR},
      </if>
      <if test="strknr != null">
        #{strknr,jdbcType=VARCHAR},
      </if>
      <if test="strspj != null">
        #{strspj,jdbcType=VARCHAR},
      </if>
      <if test="nowport != null">
        #{nowport,jdbcType=VARCHAR},
      </if>
      <if test="nowknr != null">
        #{nowknr,jdbcType=VARCHAR},
      </if>
      <if test="nowspj != null">
        #{nowspj,jdbcType=VARCHAR},
      </if>
      <if test="creatorid != null">
        #{creatorid,jdbcType=VARCHAR},
      </if>
      <if test="creatorname != null">
        #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierid != null">
        #{modifierid,jdbcType=VARCHAR},
      </if>
      <if test="modifiername != null">
        #{modifiername,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>